apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dialtone.fullname" . }}-config
  labels:
    {{- include "dialtone.labels" . | nindent 4 }}
data:
  application.properties: |
{{ .Values.config.applicationProperties | indent 4 }}
