apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    {{- include "demo-app.labels" . | nindent 4 }}
    {{- include "demo-app.frontendSelectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "demo-app.frontendSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "demo-app.frontendSelectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      volumes:
        - name: html
          configMap:
            name: {{ include "demo-app.fullname" . }}-frontend-config
